*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    width: 10000px;
    background-image: url('../img/profile1.png');
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    
}
#header_nav, .header_subnav{    
   list-style-type: none;
}
#header_nav > li {
    display: inline-block;
}

#header_nav li {
    position: relative;
    
}
#header_nav > li > a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 700;   
    margin-left: 0;
    overflow  : visible;
}

#header_nav li a{
    line-height: 46px;
    padding: 0 50px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
}

#header_nav .header_subnav li:hover a,
#header_nav > li:hover > a{
   color: #66FF33;
   transition: ease-in 0.35s;
   -moz-transition: ease-in 0.35s;
   -webkit-transition: ease-in 0.35s;
}

#header_nav li:hover .header_subnav{
    display: block;
}
#header_nav .header_subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    /* background-image: url('../img/profile2.png'); */
    left: 90px;
}
#header_nav .header_subnav a{
    color: white;
    padding: auto;
    line-height: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
#header_nav .down-icon{
    font-size: 25px;
    padding: 12px 4px;
    left: 50;
}


#main {
    position: relative;
    margin-top: 40px;
    padding-top: 50%;
    background: url(../img/profile2.png);
    background-attachment: fixed;
    background-size: cover;
    
}
.slider_nav {
    display: flex;
    position: absolute;
    top: 0;
}

.slider_nav-avatar {
    margin: 50px 0px 0px 50px;
    width: 400px;
    height: 400px;
    border-radius: 50% ;
    
}

 .slider_nav-gree {
    color: 	#EEEEEE;
    margin: 40px 0 0 200px;
    
} 


.slider_nav-gree-1 {
    color: while;
    font-size: 30pt;
    text-shadow: 5px 8px 2px orange;
    font-weight: bold;
    font-size: 70px;
    margin: 80px 10px 0 0;
}

.slider_nav-gree-2 {   
    font-size: 30px;
    margin: 70px 0px 320px 100px;  
    color: #FFFFCC; 
}

.slider_infomation th{
    text-align: center;
    font-size: x-large;
}

.slider_infomation table,th,td{
    width: 500px;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFCC;
    font-size: large;
    padding: 8px;
    border: 2px solid white;
    border-collapse: collapse;
    font-weight: bold;
}


.slider_nav1-talent{
    color: white;
    margin: 700px 0 0 300px;
    text-shadow: 5px 8px 2px orange;
    font-size: 100px;
}

.slider_nav1-info{
    
    margin: 50px 0px 50px 500px;
    color: #FFFFCC;
    font-size: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.slider_nav1-infox{
    
    margin: 0px 0px 0px 500px;
    color: #FFFFCC;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.slider_nav2-shop{
    color: white;
    margin: 300px 0 0 50px;
    text-shadow: 5px 8px 2px orange;
    font-size: 100px;
}

.slider_nav2-info1{
    color: white;
    margin: 30px 0 0 150px;    
    font-size: 30px;
    
}

.slider_nav2-info2{
    color: white;
    margin: 10px 0 0 150px;   
    font-size: 30px;
    border:2px solid pink;
    border-width: 5px;
    width: 700px;   
}

.slider_nav2-info3:link{
    color:white;
}


.slider_nav2-info3:visited{
    color: white; 
    text-decoration: none;
}

.slider_nav2-info3:hover{
    color: #66FF33;
   transition: ease-in 0.35s;
   -moz-transition: ease-in 0.35s;
   -webkit-transition: ease-in 0.35s;
}

.slider_nav3-contact{
    color: white;
    margin: 350px 0 0 50px;
    text-shadow: 5px 8px 2px orange;
    font-size: 100px;
    
}

.slider_nav3-info{
    color: #FFFFCC;;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    border: 2px solid pink;
    border-width: 3px;
    width: 800px;
}

.slider_nav-infox:link{
    color:white;

}

.slider_nav3-infox:visited{
    color: white;
    text-decoration: none;
}

.slider_nav3-infox:hover{
    color:#66FF33;
    transition: ease-in 0.35s;
    -moz-transition: ease-in 0.35s;
    -webkit-transition: ease-in 0.35s;
}


